.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

textarea {
  margin: 20px;
  padding: 10px;
  width: 60%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* ツイートリストのスタイル */
.TweetList > div {
  background-color: #f0f0f0;
  margin: 10px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.TweetList h4, .TweetList p {
  text-align: left;
}
